body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
}


.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 13px sans-serif; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

 

.inspection {
  border-bottom: 4px solid red;
}


.inspection.highlighted {
  background: #fcaeae;
  transition: background 0.3s ease;
}


textarea {
  line-height: 1.6em;
  font-size: 1.5em;
  height: 10000px;
  width: 1000px !important;
  overflow: hidden;
  background-color: transparent;
  border: none;
  resize: none;
  // height: 100%;
}